
#h1{
    text-align: center;
}

#self_introduction{
    text-align: center;
}

#self_introduction_img{
    align-content: center;
    text-align: center;
}

#self_experience{
    align-content: center;
}

#score{
    text-align: center;
}

#t{
    margin: auto;
}
